@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

@media (max-width: 500px) {
    #main {
        padding: 16px !important;
    }
    .contentContainer {
        gap: 18px !important;
        flex-flow: column-reverse wrap;
        align-items: center;
    }
    #grid {
        width: 280px !important;
        height: 280px !important;
    }
    .gridSidebar {
        max-width: 90% !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-between !important;
        gap: 16px;
    }
    .gridSidebar button {
        width: 45% !important;
        align-self: stretch;
    }
    button {
        font-size: 1em !important;
        overflow-wrap: break-word;
    }
    .gridSidebar h1 {
        font-size: 1.3em !important;
        max-width: 100px;
        margin: 0 auto !important;
    }
}

@media (min-width: 501px)
        and (max-width: 640px) {
    #main {
        padding: 16px !important;
    }
    .contentContainer {
        gap: 18px !important;
        flex-flow: column-reverse wrap;
        align-items: center;
    }
    #grid {
        width: 300px !important;
        height: 300px !important;
    }
    .gridSidebar {
        max-width: 90% !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-between !important;
        gap: 16px;
    }
    .gridSidebar button {
        width: 45% !important;
    }
    button {
        font-size: 1.2em !important;
    }
    .gridSidebar h1 {
        font-size: 2.2em !important;
        max-width: 150px;
        margin: 0 auto !important;
    }
}

@media (min-width: 641px)
        and (max-width: 1007px) {
    #main {
        padding: 16px !important;
    }
    .contentContainer {
        gap: 18px !important;
    }
    #grid {
        width: 400px !important;
        height: 400px !important;
    }
    .gridSidebar {
        max-width: 210px !important;
    }
    button {
        font-size: 1.25em !important;
    }
    .gridSidebar h1 {
        font-size: 2.5em !important;
    }
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    padding: 32px;
    flex: 1;
}

#grid {
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 2px solid #B20101;
}

#grid .gridSquare {
    border: 1px solid gainsboro;
}

.gridHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.contentContainer {
    display: flex;
    justify-content: center;
    gap: 56px;
}

.gridSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 250px;
}

.gridSidebar button {
    width: 100%;
}

.gridSidebar h1 {
    margin: 0;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    color: transparent;
    background: #B20101;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

button {
    cursor: pointer;
    padding: 8px;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #B20101;
    background-color: white;
    border: 4px solid #B20101;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #B20101;
    color: white;
    border-radius: 16px;
}

footer {
    padding: 16px;
    background-color: gainsboro;
    text-align: center;
}

footer a {
    color: black;
    text-decoration-color: #B20101;
    transition: 0.2s;
}

footer a:hover {
    text-decoration: none;
    color: #B20101
}