@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid .gridSquare {
    border: 1px solid black;
    min-width: 20px;
    min-height: 20px;
}